.searchbar__area {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #079F80;
    padding-bottom: 60px;
}

.searchbar__area > h2 {
    font-weight: 400;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
}

.search__input {
    width: 580px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 3px;
    border-radius: 5px;
    margin-top: 19px;
    margin: 0 auto;
}

.searchbar {
    width: 78%;
    border: 0;
    outline: none;
    padding: 17px 20px;
    font-size: 13px;
}

.search__button {
    color: #fff;
    background-image: url("../../../Assets/Images/Group\ 326.png");
    background-size: contain;
    background-position: center center;
    width: 22%;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}