
.navbar {
    /* background-color: #066FC0; */
    background-color: transparent;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    position: fixed;
    z-index: 10;
}

.navbar__color {
    background-color: #066FC0;
}

.nav__scroll {
    background-color: #066FC0;
}

.logo__container {
    margin-left: 170px;
}

.logo {
    padding-top: -20px;
}

.nav__content {
    color: #fff;
    margin-right: 170px;
}

.nav__link {
    padding: 0 20px;
    font-family: poppins;
    font-size: 13px;
    text-shadow: #000;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}

.signin__icon {
    margin-bottom:-5px;
    margin-right: 13px;
}



.nav__content > button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 19px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: poppins;
    font-size: 13px;
}